<!--自分の投稿への「いいね」「コメント」は通知表示をしない-->
<% notifications = @notifications.where.not(visiter_id: current_user.id) %>
<!---->
<div class="container">
	<div class="row">
			<!--通知がある場合-->
			<% if @notifications.exists? %>
				<!--削除ボタンを表示-->
				<%= link_to destroy_all_notifications_path, method: :delete do %>
					<i class="fas fa-trash-alt"　aria-hidden="true"></i> すべて削除
				<% end %><br>
				<!--通知一覧-->
				<div class="notification-list" style="text-align: center;">
					<%= render @notifications %>
				</div>
			<!--通知がない場合-->
			<% else %>
				<p style="padding-top: 50px;">通知はありません</p>
			<% end %>
	</div>
</div>