<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--スライドショー-->
      <ul class="slide">
        <li><img class="slide-image" src="assets/matcha01.jpg"></li>
        <li><img class="slide-image" src="assets/matcha02.jpg"></li>
        <li><img class="slide-image" src="assets/matcha03.jpg"></li>
        <li><img class="slide-image" src="assets/matcha04.jpg"></li>
        <li><img class="slide-image" src="assets/matcha05.jpg"></li>
        <li><img class="slide-image" src="assets/matcha06.jpg"></li>
      </ul>

      <div class="site-introduction">
        <h4>[サイトの紹介]</h4>
          <p>☆<span class="site-introduction1">自分のお気に入り</span>を共有したい</p>
          <p>☆<span class="site-introduction2">他人のお気に入り</span>を知りたい</p>
          <p>☆<span class="site-introduction3">周りのおすすめ</span>を知りたい</p>
          <p>☆<span class="site-introduction4">抹茶が好きな人にはより一層、そうでない人には好きになってもらえるような</span>抹茶専用の情報交換・共有サイト兼SNS</p>
          <p>☆<span class="site-introduction5">「抹茶で楽しく、幸せな」</span>時間を過ごしてみませんか</p>
      </div>

      <div class="function-introduction">
        <h4>[機能の紹介]</h4>
          <div class="login-function">
            <p>☆<span class="login-function1">写真付投稿</span></p>
            <p>☆<span class="login-function2">投稿に対するいいね、コメント</span>(通知でどのユーザーに対して行なったのかを確認できます)</p>
            <p>※<span class="login-only">ログイン時のみ利用可</span></p>
          </div>

          <div class="no-login-function">
            <p>★<span class="no-login-function1">ランキング形式で表示</span>(いいね数、PV数)</p>
            <p>★<span class="no-login-function2">投稿の閲覧</span></p>
            <p>※<span class="nologin-ok">ログインせずに利用可</span></p>
          </div>
      </div>

      <div class="charm-introduction">
        <h4>[抹茶の魅力]</h4>
  　　　   <p>❶<span class="charm-introduction1">日本文化の象徴的存在</span></p>
          <p>代表的な日本文化である「茶道」「おもてなし」には欠かせないものであり、日本のみならず海外からも親しまれています</p>
          <p>❷<span class="charm-introduction2">高い効能力</span></p>
          <p>抗酸化効果・ダイエット効果(カテキン)、リラックス効果(テアニン)、美肌効果(ビタミンC・ビタミンE)、生理機能の改善効果(食物繊維)、覚醒効果(カフェイン)</p>
　　　　　　<p>❸<span class="charm-introduction3">組み合わせの豊富さ</span></p>
          <p style="padding-bottom: 30px;">ラテ、アイスクリーム、洋菓子、麺類、美容パックなど</p>
      </div>
  </div>
</div>