<div class="container">
  <div class="row">
    <div class="col">
      <h4>サイトについて</h4>
        <p>
          ☆抹茶に関する情報交換・共有サイト兼SNS
          ☆「抹茶で楽しく、幸せな」時間を過ごしませんか。
        </p>

      <h4>機能について</h4>
        <p>
          ☆写真投稿
          ☆投稿に対するいいね、コメント、ブックマーク
          ☆ユーザーのフォロー、DM
          ※ログイン時のみ利用可

          ★各項目をランキング形式で表示

          ※ログインせずに利用可
        </p>

      <h4>抹茶の魅力</h4>
　　　   <p>
	      ・
	      ・
	      ・
        </p>
    </div>
  </div>
</div>