/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

@media (max-width: 480px) {
  .content {
    font-size: 1.2rem;
  }
}
@media (min-width: 1080px) {
  .content {
    font-size: 2rem;
  }
}
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
}
header, footer {
  font-family: 'Architects Daughter', cursive;
}
header {
  width: 100%;
  height: 100px;
  padding: 15px 0;
  margin: 0 auto;
  background-color: #00AA00;
  text-align: center;
}
.headline {
  font-size: 50px;
}
nav {
  text-align: center;
}
.nav-list {
  padding: 10px 0;
  background-color: #00DD00;
  width: 100%;
  .Toplink {
      display: block;
      text-decoration: none;
      color: #000000;
  }
  .Postlink {
      display: block;
      text-decoration: none;
      color: #000000;
  }
  .Myprofilelink {
      display: block;
      text-decoration: none;
      color: #000000;
  }
  .Notificationlink {
      display: block;
      text-decoration: none;
      color: #000000;
  }
  .Logoutlink {
      display: block;
      text-decoration: none;
      color: #000000;
  }
  .Aboutlink {
      display: block;
      text-decoration: none;
      color: #000000;
  }
  .PostNewlink {
      display: block;
      text-decoration: none;
      color: #000000;
  }
  .Loginlink {
      display: block;
      text-decoration: none;
      color: #000000;
  }
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}
.nav-list-item span {
  display: inline-block;
  transition: .5s;
}
.nav-list-item:hover span {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.fas fa-circle {
  color: #FF3366;
}
main {
  flex: 1;
}
footer {
  width: 100%;
  height: 50px;
  background-color: #00AA00;
  text-align: center;
}
.footer-text {
  text-align: center;
  color: #000000;
  line-height: 50px;
}

.Login-button {
  font-size: 30px;
  background-color: #B6FF01;
  color: #000000;
  display: inline-block;
  transition: .5s;
  opacity: 1;
}
.Signup-button {
  font-size: 30px;
  background-color: #B6FF01;
  color: #000000;
  display: inline-block;
  transition: .5s;
  opacity: 1;
}