// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.impression-rank {
	display: flex;
	padding-top: 50px;
}
.like-rank {
	display: flex;
}
.action {
	margin-left: 520px;
	padding-top: 25px;
}