// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-action {
	margin-left: 520px;
	padding-top: 50px;
}
.post-form {
	padding-top: 50px;
}
.comment-list {
	padding-top: 50px;
}
.comment-form {
	padding-top: 50px;
}
.new-action {
	padding-left: 275px;
	padding-top: 100px;
}